.custom-pane{
    -fx-border-width: 2px;
    -fx-border-style: dashed;
    -fx-border-color: black;
    -fx-border-radius: 20px;
    -fx-background-color: gray;
    -fx-background-radius: 20px;
}

.custom-button {
    -fx-background-color: gray;
    -fx-border-width: 1.2;
    -fx-border-radius: 5px;
    -fx-border-style: solid;
    -fx-border-color: black;
}

.root {
    -fx-background-color: dimgray;
}

.custom-button:hover{

}